body {
  margin: 50px;
  background-color: aliceblue;
}

.task {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  margin: 2px;
}

.task .title {
  margin: 5px;
}

.task input {
  width: 100%;
}

.task button {
  border-radius: 5%;
  font-size: 20px;
  background-color: lightgray;
  border: none;
}
